<h1>The Logz</h1>

<table id="log_records_table" data-logs-path="<%= the_logz_path(:js) %>">
  <thead>
    <tr>
      <th>Year</th>
      <th>Population</th>
      <th>Population calculation</th>
      <th>Ip</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'table' %>
  </tbody>
</table>

<table id="rank_table">
  <thead>
    <tr>
      <th>Year</th>
      <th>COUNT</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'rank_table' %>
  </tbody>
</table>
